{% comment %}
  Renders header menu primary

  Usage:
  {% render 'header-menu-primary' %}
{% endcomment %}
<ul class="draly-nav main-menu horizontal-menu villa-menu">
  {%- for link in section.settings.primary_menu.links -%}
    {% assign assignsubmenu = false %}
    {% assign displaymegamenu = false %}
    {% assign blank_link = false %}
    {% for block in section.blocks %}
      {% assign case_title = block.settings.menuname | downcase %}
      {% assign lower_title = link.title | downcase %}
      {% if lower_title == case_title %}
        {% assign displaymegamenu = true %}
        {% if block.settings.showsubmenu == true %}
          {% assign assignsubmenu = true %}
        {% endif %}
        {%- if link.links == blank -%}
          {% assign blank_link = lower_title %}
        {% endif %}
      {% endif %}
    {%- endfor -%}
    <li class="menu-item{% if link.current %} current-menu-item{% endif %}{%- if link.links.size > 0 %} menu-item-has-children{% endif %}">
      {%- if link.links != blank -%}
        <a
          href="{{ link.url }}"
          {% if link.current %}
            aria-current="page"
          {% endif %}
        >
          {{- link.title | escape -}}
        </a>
        {% if assignsubmenu %}
          <ul class="sub-menu">
            {%- for childlink in link.links -%}
              <li class="menu-item{% if childlink.current %} current-menu-item{% endif %}{%- if link.grandchild_active %} menu-item-has-children{% endif %}"">
                <a href="{{ childlink.url }}"
                  {% if childlink.current %}
                    aria-current="page"
                  {% endif %}
                >
                  {{ childlink.title | escape }}
                </a>
                <ul class="sub-menu">
                  {%- for grandchildlink in childlink.links -%}
                    <li class="menu-item{% if grandchildlink.current %} current-menu-item{% endif %}">
                      <a href="{{ grandchildlink.url }}"
                        {% if grandchildlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ grandchildlink.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endfor -%}
          </ul>
        {% endif %}
      {%- else -%}
        {% if blank_link %}
          <a
            href="{{ link.url }}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            {{- link.title | escape -}}
          </a>
          {% render 'megamenu', blocks: section.blocks, title: link.title %}
          {% assign blank_link = false %}
        {% else %}
          <a
            href="{{ link.url }}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            {{- link.title | escape -}}
          </a>
        {% endif %}
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
