{% comment %}
  Renders header localization form

  Usage:
  {% render 'header-localization-form' %}
{% endcomment %}
{%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
  <noscript>
    {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
      <div class="localization-form__select">
        <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
          {{ 'localization.language_label' | t }}
        </h2>
        <select
          class="localization-selector link"
          name="locale_code"
          aria-labelledby="FooterLanguageLabelNoScript"
        >
          {%- for language in localization.available_languages -%}
            <option
              value="{{ language.iso_code }}"
              lang="{{ language.iso_code }}"
              {%- if language.iso_code == localization.language.iso_code %}
                selected
              {% endif %}
            >
              {{ language.endonym_name | capitalize }}
            </option>
          {%- endfor -%}
        </select>
      </div>
      <button class="button button-primary">{{ 'localization.update_language' | t }}</button>
    {%- endform -%}
  </noscript>
  <localization-form>
    {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
      <div class="no-js-hidden">
        <div class="disclosure-form-field">
          <button
            type="button"
            class="disclosure-selector"
            aria-expanded="false"
            aria-describedby="FooterLanguageLabel"
          >
            {{ localization.language.endonym_name | capitalize }}
          </button>
          <div class="disclosure__list-wrapper" hidden>
            <ul class="disclosure__list list-unstyled">
              {%- for language in localization.available_languages -%}
                <li class="disclosure__item" tabindex="-1">
                  <a
                    class="disclosure__link{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %}"
                    href="#"
                    hreflang="{{ language.iso_code }}"
                    lang="{{ language.iso_code }}"
                    {% if language.iso_code == localization.language.iso_code %}
                      aria-current="true"
                    {% endif %}
                    data-value="{{ language.iso_code }}"
                  >
                    {{ language.endonym_name | capitalize }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
      </div>
    {%- endform -%}
  </localization-form>
{%- endif -%}

{%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
  <noscript>
    {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
      <div class="localization-form__select">
        <h2 class="visually-hidden" id="FooterCountryLabelNoScript">
          {{ 'localization.country_label' | t }}
        </h2>
        <select
          class="localization-selector link"
          name="country_code"
          aria-labelledby="FooterCountryLabelNoScript"
        >
          {%- for country in localization.available_countries -%}
            <option
              value="{{ country.iso_code }}"
              {%- if country.iso_code == localization.country.iso_code %}
                selected
              {% endif %}
            >
              {{ country.name }} ({{ country.currency.iso_code }}
              {{ country.currency.symbol }})
            </option>
          {%- endfor -%}
        </select>
      </div>
      <button class="button button-primary">{{ 'localization.update_country' | t }}</button>
    {%- endform -%}
  </noscript>
  <localization-form>
    {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
      <div class="no-js-hidden">
        <div class="disclosure-form-field">
          <button
            type="button"
            class="disclosure-selector"
            aria-expanded="false"
            aria-describedby="FooterCountryLabel"
          ><span class="disclosure-form-field__flag" style="background-image: url('//cdn.shopify.com/static/images/flags/{{ localization.country.iso_code | downcase }}.svg?width=40')"></span>
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
          </button>
          <div class="disclosure__list-wrapper" hidden>
            <ul class="disclosure__list list-unstyled">
              {%- for country in localization.available_countries -%}
                <li class="disclosure__item" tabindex="-1">
                  <a
                    class="disclosure__link{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %}"
                    href="#"
                    {% if country.iso_code == localization.country.iso_code %}
                      aria-current="true"
                    {% endif %}
                    data-value="{{ country.iso_code }}"
                  ><span class="disclosure-form-field__flag" style="background-image: url('//cdn.shopify.com/static/images/flags/{{ localization.country.iso_code | downcase }}.svg?width=40')"></span>
                    {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
      </div>
    {%- endform -%}
  </localization-form>
{%- endif -%}