{% comment %}
  Renders header user

  Usage:
  {% render 'header-user' %}
{% endcomment %}
{%- if shop.customer_accounts_enabled -%}
  {% if section.settings.show_acicon %}
    <div class="block-user header-block draly-dropdown">
      <a class="block-link" data-draly="draly-dropdown">
        <span class="block-icon">{% render 'icon-header-user' %}</span>
        <span class="block-text">
          {% if customer %}
            <span>{{ 'vtcustomlabel.vtalltext.account' | t }}</span>
            <strong>
              {{- customer.first_name }}
              {{ customer.last_name -}}
            </strong>
          {% else %}
            <span>{{ 'vtcustomlabel.vtalltext.account' | t }}</span>
            <strong>{{ 'vtcustomlabel.vtalltext.log_in' | t }}</strong>
          {% endif %}
        </span>
      </a>
      <ul class="sub-menu">
        {% if customer %}
          <li>
            <a href="/account">
              {{ 'vtcustomlabel.vtalltext.account' | t }}
            </a>
          </li>
          <li>
            <a href="/account/logout">
              {{ 'vtcustomlabel.vtalltext.log_out' | t }}
            </a>
          </li>
        {% else %}
          <li>
            <a href="/account/login">
              {{ 'vtcustomlabel.vtalltext.log_in' | t }}
            </a>
          </li>
          <li>
            <a
              href="/account/register"
              title="{{ 'vtcustomlabel.vtalltext.create_accounthome' | t }}"
            >
              {{ 'vtcustomlabel.vtalltext.create_accounthome' | t }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
{%- endif -%}
