{% comment %}
  Renders share button

  Usage:
  {% render 'social-share',
    share_facebook: block.settings.share_facebook,
    share_twitter: block.settings.share_twitter,
    share_pinterest: block.settings.share_pinterest
  %}
{% endcomment %}
<ul class="social-sharing">
  {% if share_facebook %}
    <li>
      <a
        target="_blank"
        rel="noopener"
        rel="noreferrer"
        href="//www.facebook.com/sharer.php?u={{ request.origin }}"
        class="share-facebook"
      >
        {% render 'icon-social-facebook' %}
        <span>{{ 'vtcustomlabel.vtalltext.share_on_facebook' | t }}</span>
      </a>
    </li>
  {% endif %}
  {% if share_twitter %}
    <li>
      <a
        target="_blank"
        rel="noopener"
        rel="noreferrer"
        href="//twitter.com/share?url={{ request.origin }}"
        class="share-twitter"
      >
        {% render 'icon-social-twitter' %}
        <span>{{ 'vtcustomlabel.vtalltext.share_on_twitter' | t }}</span>
      </a>
    </li>
  {% endif %}
  {% if share_pinterest %}
    <li>
      <a
        target="_blank"
        rel="noopener"
        rel="noreferrer"
        href="//pinterest.com/pin/create/button/?url={{ request.origin }}"
        class="share-pinterest"
      >
        {% render 'icon-social-pinterest' %}
        <span>{{ 'vtcustomlabel.vtalltext.share_on_pinterest' | t }}</span>
      </a>
    </li>
  {% endif %}
</ul>
