{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}
<div class="draly-blog section-{{ section.id }}-padding">
  <div class="container">
    <h2 class="heading">
      <span>{{ section.settings.m_title }}</span>
    </h2>
    {%- if section.settings.show_view_all -%}
      <div class="blog__view-all">
        <a href="{{ section.settings.blog.url }}" class="button"
          ><span>{{ 'sections.featured_blog.view_all' | t }}</span>{% render 'icon-arrow' -%}
        </a>
      </div>
    {%- endif -%}
    <swiper-slider
      class="swiper-slider"
      data-section-id="{{ section.id }}"
      data-slider-speed="300"
      data-slider-navigation="true"
      data-slider-pagination="true"
      data-slider-autoplay="0"
      data-breakpoint-mobile-portrait="1"
      data-breakpoint-mobile-landscape="2"
      data-breakpoint-tablet-portrait="2"
      data-breakpoint-tablet-landscape="2"
      data-breakpoint-laptop="3"
      data-breakpoint-widescreen="3"
    >
      <div class="swiper">
        <div class="swiper-wrapper">
          {%- unless section.settings.blog.empty? or section.settings.blog.articles.size == 0 -%}
            {%- for article in section.settings.blog.articles -%}
              <div class="swiper-slide">
                {% render 'article-card',
                  blog: section.settings.blog,
                  image_height: section.settings.image_height,
                  article: article,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_cmment: section.settings.show_cmment,
                  show_desc: section.settings.show_desc
                %}
              </div>
            {%- endfor -%}
          {%- else -%}
            {% for i in (1..5) %}
              <div class="swiper-slide">
                <article class="article-card">
                  <div class="vtblogimg">
                    <div class="dummysvg">{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                  </div>
                  <div class="vtblogimgdesc">
                    <h3>
                      <a href="#">Example blog post {{ i }}</a>
                    </h3>
                    <div class="vtblogdate">Oct 22, 2022</div>
                  </div>
                </article>
              </div>
            {% endfor %}
          {%- endunless -%}
        </div>
        <div class="swiper-controls">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </swiper-slider>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.blog_slider.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "m_title",
      "label": "Heading",
      "default": "latest blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog_slider.settings.blog.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.blog_slider.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.blog_slider.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.blog_slider.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "Show description"
    },
    {
      "type": "checkbox",
      "id": "show_cmment",
      "default": false,
      "label": "Show comments"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show view all button"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog_slider.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
