{% comment %} Villatheme Cart Dropdown {% endcomment %}
<div class="vthcart">
    <a href="{{ routes.cart_url }}" class="focus-inset" id="cart-icon-bubble">
        <span class="svgbg"> 
            {% render 'icon-header-minicart' %}
        </span>
        {%- if settings.vt_cartnumber == 'vt_shopqty' -%}
            <span class="vthcartitem">{{ cart.item_count }}</span>
            {%- elsif settings.vt_cartnumber == 'vt_shoptotal' -%}
            <span class="vtcarthtotal text-left">
                <strong>{{ 'vtcustomlabel.vtalltext.mycart' | t }}</strong>
                {%- if settings.currency_code_enabled -%}
                <span>{{ cart.total_price | money_with_currency }}</span>
                {%- else -%}
                <span>{{ cart.total_price | money }}</span>
                {%- endif -%}
            </span>
            {%- else -%}
                <span class="vthcartitem vtqtyboth">{{ cart.item_count }}</span>
                <span class="vtcarthtotal text-left">
                <strong>{{ 'vtcustomlabel.vtalltext.mycart' | t }}</strong>
                {%- if settings.currency_code_enabled -%}
                <span>{{ cart.total_price | money_with_currency }}</span>
                {%- else -%}
                <span>{{ cart.total_price | money }}</span>
                {%- endif -%}
            </span>
            {%- endif -%}
    </a>
</div>
{% comment %} Villatheme Cart Dropdown Over {% endcomment %}