{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top }}px;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}
<div class="footer">
  <div class="footer-top">
    <div class="container">
      {% if section.settings.enable_newsletter %}
        <div class="wp_nws_rws">
          {%- if section.settings.newsheading != blank -%}
            <h3 class="newsheading">{{ section.settings.newsheading }}</h3>
          {%- endif -%}
          <div class="footer-block--newsletter">
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button
                    type="submit"
                    class="newsletter-form__button button button--primary"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    <span>{{ 'newsletter.button_label' | t }}</span>{% render 'icon-send' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small
                    class="newsletter-form__message form__message"
                    id="ContactFooter-error"
                  >
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="ContactFooter-success"
                  tabindex="-1"
                  autofocus
                >
                  {% render 'icon-success' -%}
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="footer-midle container section-{{ section.id }}-padding">
    <div class="row">
      <div class="footer-midle-left col-md-3">
        <a href="{{ routes.root_url }}" class="footer-logo">
          <span class="visually-hidden">{{ shop.name }}</span>
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            {{
              section.settings.logo
              | image_url: width: section.settings.width
              | image_tag:
                class: '',
                widths: '50, 100, 130, 150, 162, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
            }}
          {%- else -%}
            <span class="h4">{{ shop.name }}</span>
          {%- endif -%}
        </a>
        {%- if section.settings.contsubtext != blank -%}
          {{ section.settings.contsubtext }}
        {%- endif -%}
        {%- if section.settings.show_social -%}
          {% render 'social-share',
            share_facebook: block.settings.share_facebook,
            share_twitter: block.settings.share_twitter,
            share_pinterest: block.settings.share_pinterest
          %}
        {%- endif -%}
      </div>
      <div class="foot-middle-right col-md-9">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size > 3
              assign footer_grid_class = 'footer-blocks-4'
            endif
          -%}
          <div class="d-flex footer-blocks-wrapper {{ footer_grid_class }}">
            {%- for block in section.blocks -%}
              <div
                class="footer-block {% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.heading != blank -%}
                  <h3 class="footer-heading">
                    {{- block.settings.heading | escape -}}
                  </h3>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when 'text' -%}
                    <div
                      class="vtfootcont"
                      id="vt-{{ block.settings.heading | camelcase }}"
                    >
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                      <ul
                        class="vtfootcont list-unstyled"
                        id="vt-{{ block.settings.heading | camelcase }}"
                      >
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{- link.title -}}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'textarea' -%}
                    <div
                      class="vtfootcont"
                      id="vt-{{ block.settings.heading | camelcase }}"
                    >
                      {%- if block.settings.contsubtext != blank -%}
                        {{ block.settings.contsubtext }}
                      {%- endif -%}
                      <ul>
                        {%- if block.settings.footer_address != blank -%}
                          <li>
                            {% render 'icon-faddress' %}
                            <span>{{ block.settings.footer_address }}</span>
                          </li>
                        {%- endif -%}
                        {%- if block.settings.footer_phone != blank -%}
                          <li>
                            {% render 'icon-fcontact' %}
                            <span>
                              <a href="tel:{{ block.settings.footer_phone }}">
                                {{- block.settings.footer_phone -}}
                              </a></span
                            >
                          </li>
                        {%- endif -%}
                        {%- if block.settings.footer_email != blank -%}
                          <li>
                            {% render 'icon-fmail' %}
                            <span>
                              <a href="mailto:{{ block.settings.footer_email }}">
                                {{- block.settings.footer_email -}}
                              </a></span
                            >
                          </li>
                        {%- endif -%}
                      </ul>
                    </div>
                  {%- when 'image' -%}
                    <div
                      class="footer-block__details-content footer-block-image {{ block.settings.alignment }}"
                      id="vt-{{ block.settings.heading | camelcase }}"
                    >
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <img
                          class="img-fluid"
                          srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                          src="{{ block.settings.image | image_url: width: 400 }}"
                          alt="{{ block.settings.image.alt | escape }}"
                          loading="lazy"
                          width="{{ block.settings.image.width }}"
                          height="{{ block.settings.image.height }}"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                      {%- else -%}
                        <div>{{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}</div>
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="vtftpaym">
        <div class="footer__copyright">
          {% if section.settings.show_copyright %}
            <span class="copyright__content"
              >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
            </span>
            <span class="copyright__content">{{ powered_by_link }}</span>
          {% endif %}
        </div>
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  <button
    class="button"
    id="scroll"
    style="display: block;"
    title="{{ 'vtcustomlabel.vtalltext.scrolltop' | t }}"
  >
    {% render 'icon-double-arrow-up' %}
  </button>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 2,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "header",
      "content": "Contact info"
    },
    {
      "type": "richtext",
      "id": "contsubtext",
      "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
      "label": "t:sections.footer.blocks.text.settings.subtext.label"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "enable_newsletter",
      "default": true,
      "label": "Display newsletter"
    },
    {
      "type": "text",
      "id": "newsheading",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "Copyright"
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "default": true,
      "label": "Show copyright"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "textarea",
      "name": "Contact",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Contact us"
        },
        {
          "type": "richtext",
          "id": "contsubtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "textarea",
          "id": "footer_address",
          "label": "Address",
          "default": "1234 Maple Street, Suite 500, Springfield, CA 90210, USA"
        },
        {
          "type": "text",
          "id": "footer_phone",
          "label": "Phone Number",
          "default": "+1 (555) 123-4567"
        },
        {
          "type": "text",
          "id": "footer_email",
          "label": "E-Mail",
          "default": "support@draly.com "
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 400,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
