<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link
    rel="stylesheet"
    href="{{ 'component-loading-overlay.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}
{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
{%- style -%}
  .section-header {
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
  .header-middle {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .header__heading-logo {
    max-width: {{ section.settings.logo_width }}px;
  }
  .header__heading-mobile-logo {
    max-width: {{ section.settings.mobile_logo_width }}px;
  }
{%- endstyle -%}
<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" vievtox="0 0 18 19" >
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" />
  </symbol>
  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" />
  </symbol>
</svg>
<div class="header-wrapper {% if section.settings.enable_sticky_header %}header-sticky{% endif %} {% if section.settings.enable_sticky_header_mobile %}header-mobile-sticky{% endif %}">
  {% if section.settings.show_topheader %}
    <div class="header-top">
      <div class="container">
        {{ section.settings.topoffer }}
      </div>
    </div>
  {% endif %}
  <div class="header-desktop">
    <div class="header-middle">
      <div class="header-logo">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            {{
              section.settings.logo
              | image_url: width: section.settings.width
              | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 130, 150, 162, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
            }}
          {%- else -%}
            <span class="h1">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>
      <details-modal class="header__search">
        <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}">
          {%- if settings.predictive_search_enabled -%}
            <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
          {%- endif -%}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            <div class="field">
              <input
                class="search__input field__input"
                id="Search-In-Modal"
                type="search"
                name="q"
                value=""
                placeholder="{{ 'general.search.search' | t }}"
                {%- if settings.predictive_search_enabled -%}
                  role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list"
                  autocomplete="off" autocapitalize="off" spellcheck="false"
                {%- endif -%}
              >
              <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
              <input type="hidden" name="options[prefix]" value="last">
              <button
                class="search__button button button--primary focus-inset"
                tabindex="0"
                aria-label="{{ 'general.search.search' | t }}"
              >
                <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-search">
                </svg>
              </button>
            </div>
            {%- if settings.predictive_search_enabled -%}
              <div class="predictive-search predictive-search--header" data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>
              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
            {%- endif -%}
          </form>
          {%- if settings.predictive_search_enabled -%}
            </predictive-search>
          {%- endif -%}
          <button
            type="button"
            class="searchwithbox search-modal__close-button modal__close-button link link--text focus-inset"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-close"/>
            </svg>
          </button>
        </div>
      </details-modal>
      <div class="header-control">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">
                  {{ 'localization.country_label' | t }}
                </h2>
                <select
                  class="localization-selector link"
                  name="country_code"
                  aria-labelledby="FooterCountryLabelNoScript"
                >
                  {%- for country in localization.available_countries -%}
                    <option
                      value="{{ country.iso_code }}"
                      {%- if country.iso_code == localization.country.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button-primary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <div class="disclosure">
                  <button
                    type="button"
                    class="focus-inset disclosure__button localization-form__select localization-selector link link--text caption-large"
                    aria-expanded="false"
                    aria-controls="FooterCountryList"
                    aria-describedby="FooterCountryLabel"
                  >
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }}
                    {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterCountryList" class="disclosure__list list-unstyled">
                      {%- for country in localization.available_countries -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a
                            class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset"
                            href="#"
                            {% if country.iso_code == localization.country.iso_code %}
                              aria-current="true"
                            {% endif %}
                            data-value="{{ country.iso_code }}"
                          >
                            {{ country.name }}
                            <span class="localization-form__currency"
                              >({{ country.currency.iso_code }}
                              {{ country.currency.symbol }})</span
                            >
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                  {{ 'localization.language_label' | t }}
                </h2>
                <select
                  class="localization-selector link"
                  name="locale_code"
                  aria-labelledby="FooterLanguageLabelNoScript"
                >
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {%- if language.iso_code == localization.language.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button-primary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <div class="disclosure">
                  <button
                    type="button"
                    class="focus-inset disclosure__button localization-form__select localization-selector link link--text caption-large"
                    aria-expanded="false"
                    aria-controls="FooterLanguageList"
                    aria-describedby="FooterLanguageLabel"
                  >
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterLanguageList" class="disclosure__list list-unstyled">
                      {%- for language in localization.available_languages -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a
                            class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
                            href="#"
                            hreflang="{{ language.iso_code }}"
                            lang="{{ language.iso_code }}"
                            {% if language.iso_code == localization.language.iso_code %}
                              aria-current="true"
                            {% endif %}
                            data-value="{{ language.iso_code }}"
                          >
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        <div class="header-meta">
          {%- if shop.customer_accounts_enabled -%}
            {% if section.settings.show_acicon %}
              <div class="vtheaduser">
                <a
                  data-draly="draly-dropdown"
                  title="{% if customer %}{{ 'vtcustomlabel.vtalltext.account' | t }}{% else %}{{ 'vtcustomlabel.vtalltext.log_in' | t }}{% endif %}"
                >
                  <span class="svgbg">{% render 'icon-header-user' %}</span>
                </a>
                <div class="draly-dropdown">
                  <ul>
                    {% if customer %}
                      <li>
                        <a href="/account">
                          {{ 'vtcustomlabel.vtalltext.account' | t }}
                        </a>
                      </li>
                      <li>
                        <a href="/account/logout">
                          {{ 'vtcustomlabel.vtalltext.log_out' | t }}
                        </a>
                      </li>
                    {% else %}
                      <li>
                        <a href="/account/login">
                          {{ 'vtcustomlabel.vtalltext.log_in' | t }}
                        </a>
                      </li>
                      <li>
                        <a
                          href="/account/register"
                          title="{{ 'vtcustomlabel.vtalltext.create_accounthome' | t }}"
                        >
                          {{ 'vtcustomlabel.vtalltext.create_accounthome' | t }}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            {% endif %}
          {%- endif -%}

          {% comment %} Villatheme Cart Dropdown {% endcomment %}
          {% if settings.show_shopicon %}
            <div class="vthcart">
              <a href="{{ routes.cart_url }}" class="focus-inset" id="cart-icon-bubble">
                <span class="svgbg">
                  {% render 'icon-header-minicart' %}
                </span>

                {%- if settings.vt_cartnumber == 'vt_shopqty' -%}
                  <span class="vthcartitem">{{ cart.item_count }}</span>
                {%- elsif settings.vt_cartnumber == 'vt_shoptotal' -%}
                  <span class="vtcarthtotal text-left">
                    <strong>{{ 'vtcustomlabel.vtalltext.mycart' | t }}</strong>
                    {%- if settings.currency_code_enabled -%}
                      <span>{{ cart.total_price | money_with_currency }}</span>
                    {%- else -%}
                      <span>{{ cart.total_price | money }}</span>
                    {%- endif -%}
                  </span>
                {%- else -%}
                  <span class="vthcartitem vtqtyboth">{{ cart.item_count }}</span>
                  <span class="vtcarthtotal text-left">
                    <strong>{{ 'vtcustomlabel.vtalltext.mycart' | t }}</strong>
                    {%- if settings.currency_code_enabled -%}
                      <span>{{ cart.total_price | money_with_currency }}</span>
                    {%- else -%}
                      <span>{{ cart.total_price | money }}</span>
                    {%- endif -%}
                  </span>
                {%- endif -%}
              </a>
            </div>
          {% endif %}
          {% comment %} Villatheme Cart Dropdown Over {% endcomment %}
        </div>
      </div>
    </div>
    <div class="header-desktop-wrap">
      <div class="header-position">
        <div class="header-nav">
          <div class="container">
            <div class="header-nav-inner">
              {% comment %}Simple Menu{% endcomment %}
              {%- if section.settings.menu != blank -%}
                <nav class="vertical-wrapper block-nav-category has-vertical-menu has-open">
                  <div class="block-title active">
                    <span class="text-title">{{ 'vtcustomlabel.vtalltext.allcategories' | t }}</span>
                  </div>
                  <div class="block-content verticalmenu-content">
                    <div class="villa-menu-wrapper vertical">
                      <ul id="menu-vertical-menu" class="draly-nav vertical-menu villa-menu">
                        {%- for link in section.settings.menu.links -%}
                          {% assign assignsubmenu = true %}
                          {% assign displaymegamenu = false %}
                          {% assign blank_link = false %}
                          {% for block in section.blocks %}
                            {% assign case_title = block.settings.menuname | downcase %}
                            {% assign lower_title = link.title | downcase %}
                            {% if lower_title == case_title %}
                              {% assign displaymegamenu = true %}
                              {% if block.settings.showsubmenu == false %}
                                {% assign assignsubmenu = false %}
                              {% endif %}
                              {%- if link.links == blank -%}
                                {% assign blank_link = lower_title %}
                              {% endif %}
                            {% endif %}
                          {%- endfor -%}
                          <li>
                            {%- if link.links != blank -%}
                              <details-disclosure>
                                <details id="Details-HeaderMenu-{{ forloop.index }}">
                                  <summary class="header__menu-item list-menu__item link focus-inset">
                                    <span
                                      {%- if link.child_active %}
                                        class="header__active-menu-item"
                                      {% endif %}
                                    >
                                      {{- link.title | escape -}}
                                    </span>
                                    {% render 'icon-caret' %}
                                  </summary>
                                  <div
                                    id="HeaderMenu-MenuList-{{ forloop.index }}"
                                    class="color-{{ section.settings.color_dropmenu }} gradient header__submenu list-menu list-menu--disclosure caption-large motion-reduce {% if link.links.size > 2 or displaymegamenu %}vtmenufull{% endif %}"
                                    tabindex="-1"
                                  >
                                    {% if assignsubmenu %}
                                      <div class="container">
                                        <div class="row wp_submenus_dep">
                                          {%- for childlink in link.links -%}
                                            <div class="{% if link.links.size == 1 %}col-12 {% elsif link.links.size == 2 %}col-12 {% else %}col-3 {% endif %}">
                                              <div class="vtmenuinner">
                                                <a
                                                  href="{{ childlink.url }}"
                                                  class="header__menu-item list-menu__item link link--text focus-inset caption-large wp_atitls{% if childlink.current %} list-menu__item--active{% endif %}"
                                                  {% if childlink.current %}
                                                    aria-current="page"
                                                  {% endif %}
                                                >
                                                  {{ childlink.title | escape }}
                                                </a>
                                                <ul
                                                  id="HeaderMenu-SubMenuList-{{ forloop.index }}"
                                                  class="header__submenu list-menu motion-reduce"
                                                >
                                                  {%- for grandchildlink in childlink.links -%}
                                                    <li>
                                                      <a
                                                        href="{{ grandchildlink.url }}"
                                                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                                        {% if grandchildlink.current %}
                                                          aria-current="page"
                                                        {% endif %}
                                                      >
                                                        {{ grandchildlink.title | escape }}
                                                      </a>
                                                    </li>
                                                  {%- endfor -%}
                                                </ul>
                                              </div>
                                            </div>
                                          {%- endfor -%}
                                        </div>
                                      </div>
                                    {% endif %}
                                    {% render 'megamenu', blocks: section.blocks, title: link.title %}
                                    <div class="text-right vthseeall container">
                                      <a href="{{ link.url }}">{{ 'vtcustomlabel.vtalltext.see_all' | t }}</a>
                                    </div>
                                  </div>
                                </details>
                              </details-disclosure>
                            {%- else -%}
                              {% if blank_link %}
                                <details-disclosure>
                                  <details id="Details-HeaderMenu-{{ forloop.index }}">
                                    <summary class="header__menu-item list-menu__item link focus-inset">
                                      <span
                                        {%- if link.child_active %}
                                          class="header__active-menu-item"
                                        {% endif %}
                                      >
                                        {{- link.title | escape -}}
                                      </span>
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="HeaderMenu-MenuList-{{ forloop.index }}"
                                      class="color-{{ section.settings.color_dropmenu }} gradient header__submenu list-menu list-menu--disclosure caption-large motion-reduce {% if link.links.size > 2 or displaymegamenu %}vtmenufull{% endif %}"
                                      tabindex="-1"
                                    >
                                      {% render 'megamenu', blocks: section.blocks, title: link.title %}
                                      <div class="text-right vthseeall container">
                                        <a href="{{ link.url }}">{{ 'vtcustomlabel.vtalltext.see_all' | t }}</a>
                                      </div>
                                    </div>
                                  </details>
                                </details-disclosure>
                                {% assign blank_link = false %}
                              {% else %}
                                <a
                                  href="{{ link.url }}"
                                  class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"
                                  {% if link.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  <span
                                    {%- if link.current %}
                                      class="header__active-menu-item"
                                    {% endif %}
                                  >
                                    {{- link.title | escape -}}
                                  </span>
                                </a>
                              {% endif %}
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </nav>
              {%- endif -%}
              {%- if section.settings.secmenu != blank -%}
                <div class="box-header-nav">
                  <div class="villa-menu-wrapper horizontal">
                    <ul id="menu-primary-menu" class="draly-nav main-menu horizontal-menu villa-menu">
                      {%- for link in section.settings.secmenu.links -%}
                        <li class="menu-item">
                          <a href="{{ link.url }}">
                            <span>{{ link.title | escape }}</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              {%- endif -%}
              {% comment %} Villatheme Wishlist {% endcomment %}
              <div class="block-wishlist block-icon">
                {% if customer %}
                  <a href="/pages/wishlist" class="block-link"
                    ><strong>
                      {%- render 'icon-header-wishlist' -%}
                      <span class="vtwishcount">0</span></strong
                    ><span>{{ 'vtcustomlabel.vtalltext.wishlist' | t }}</span></a
                  >
                {% else %}
                  <a href="/account/login" class="block-link"
                    ><strong>
                      {%- render 'icon-header-wishlist' -%}
                      <span class="vtwishcount count">0</span></strong
                    ><span>{{ 'vtcustomlabel.vtalltext.wishlist' | t }}</span></a
                  >
                {% endif %}
              </div>
              {% comment %} Villatheme Wishlist Over {% endcomment %}
              {% if section.settings.show_contact %}
                <div class="header-contact">
                  <div class="header-contact-inner">
                    <div class="header-contact-image">{% render 'icon-header-phone' %}</div>
                    <div class="header-contact-info">
                      <span class="header-contact-title">{{ section.settings.bnts1 }}</span>
                      <a href="tel:{{section.settings.mobile}}">{{ section.settings.mobile }}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-mobile-wrap">
    <div class="header-position">
      <div class="container">
        <div class="header-mobile">
          <div class="header-mobile-left">
            <div class="header-logo">
              <a href="{{ routes.root_url }}">
                {% comment %}Mobile view logo{% endcomment %}
                {%- if section.settings.mobile_logo -%}
                  {%- if section.settings.mobile_logo != blank -%}
                    {%- assign logo_alt = section.settings.mobile_logo.alt | default: shop.name | escape -%}
                    {%- assign logo_height = section.settings.mobile_logo_width
                      | divided_by: section.settings.mobile_logo.aspect_ratio
                    -%}
                    {{
                      section.settings.mobile_logo
                      | image_url: width: section.settings.width
                      | image_tag:
                        class: 'header__heading-mobile-logo',
                        widths: '50, 100, 130, 150, 162, 200, 250, 300, 400, 500',
                        height: logo_height,
                        width: section.settings.mobile_logo_width,
                        alt: logo_alt
                    }}
                  {%- endif -%}
                {%- else -%}
                  {%- if section.settings.logo != blank -%}
                    {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
                    {%- assign logo_height = section.settings.mobile_logo_width
                      | divided_by: section.settings.logo.aspect_ratio
                    -%}
                    {{
                      section.settings.logo
                      | image_url: width: section.settings.width
                      | image_tag:
                        class: 'header__heading-mobile-logo',
                        widths: '50, 100, 130, 150, 162, 200, 250, 300, 400, 500',
                        height: logo_height,
                        width: section.settings.mobile_logo_width,
                        alt: logo_alt
                    }}
                  {%- endif -%}
                {%- else -%}
                  <span class="h1">{{ shop.name }}</span>
                {%- endif -%}
                {% comment %}Mobile view logo end{% endcomment %}
              </a>
            </div>
          </div>
          <div class="header-mobile-right">
            <div class="header-search draly-dropdown">
              <div data-draly="draly-dropdown">
                <a class="block-link link-dropdown" href="#"> </a>
              </div>
            </div>
            <div class="header-meta">
              {%- if shop.customer_accounts_enabled -%}
                {% if section.settings.show_acicon %}
                  <div class="vtheaduser header-block">
                    <a
                      data-draly="draly-dropdown"
                      title="{% if customer %}{{ 'vtcustomlabel.vtalltext.account' | t }}{% else %}{{ 'vtcustomlabel.vtalltext.log_in' | t }}{% endif %}"
                    >
                      <span class="block-icon">{% render 'icon-account' %}</span>
                    </a>
                    <div class="draly-dropdown">
                      <ul>
                        {% if customer %}
                          <li>
                            <a href="/account">
                              {% render 'icon-header-user' %}
                              {{ 'vtcustomlabel.vtalltext.account' | t }}
                            </a>
                          </li>
                          <li>
                            <a href="/account/logout">
                              {% render 'icon-signout' %}
                              {{ 'vtcustomlabel.vtalltext.log_out' | t }}
                            </a>
                          </li>
                        {% else %}
                          <li>
                            <a href="/account/login">
                              {% render 'icon-lock' %}
                              {{ 'vtcustomlabel.vtalltext.log_in' | t }}
                            </a>
                          </li>
                          <li>
                            <a
                              href="/account/register"
                              title="{{ 'vtcustomlabel.vtalltext.create_accounthome' | t }}"
                            >
                              {% render 'icon-header-user' %}
                              {{ 'vtcustomlabel.vtalltext.create_accounthome' | t }}
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                {% endif %}
              {%- endif -%}

              {% comment %} Villatheme Cart Dropdown {% endcomment %}
              {% if settings.show_shopicon %}
                <div class="vthcart header-block">
                  <a href="{{ routes.cart_url }}" class="block-link" id="cart-icon-bubble">
                    <span class="block-icon">
                      {% render 'icon-header-minicart' %}
                    </span>

                    {%- if settings.vt_cartnumber == 'vt_shopqty' -%}
                      <span class="vthcartitem">{{ cart.item_count }}</span>
                    {%- elsif settings.vt_cartnumber == 'vt_shoptotal' -%}
                      <span class="vtcarthtotal text-left">
                        <strong>{{ 'vtcustomlabel.vtalltext.mycart' | t }}</strong>
                        {%- if settings.currency_code_enabled -%}
                          <span>{{ cart.total_price | money_with_currency }}</span>
                        {%- else -%}
                          <span>{{ cart.total_price | money }}</span>
                        {%- endif -%}
                      </span>
                    {%- else -%}
                      <span class="vthcartitem vtqtyboth">{{ cart.item_count }}</span>
                      <span class="vtcarthtotal text-left">
                        <strong>{{ 'vtcustomlabel.vtalltext.mycart' | t }}</strong>
                        {%- if settings.currency_code_enabled -%}
                          <span>{{ cart.total_price | money_with_currency }}</span>
                        {%- else -%}
                          <span>{{ cart.total_price | money }}</span>
                        {%- endif -%}
                      </span>
                    {%- endif -%}
                  </a>
                </div>
              {% endif %}
              {% comment %} Villatheme Cart Dropdown Over {% endcomment %}
            </div>
            {%- if section.settings.menu != blank -%}
              <div class="block-menu-bar">
                <div class="menu-bar mobile-menu-toggle">{% render 'icon-header-menubar' %}</div>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach((item) => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute(
        'aria-expanded',
        (this.elements.button.getAttribute('aria-expanded') === 'false').toString()
      );
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_facebook_link | json }},
      {{ settings.social_twitter_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_youtube_link | json }},
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 2,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "t:sections.header.settings.mobilelogo.label",
      "info": "Optional. The logo will use the main logo on mobile by default."
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 50,
      "max": 170,
      "step": 2,
      "default": 100,
      "unit": "t:sections.header.settings.mobile_logo_width.unit",
      "label": "t:sections.header.settings.mobile_logo_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_acicon",
      "default": true,
      "label": "Show account icon"
    },
    {
      "type": "header",
      "content": "Contact"
    },
    {
      "type": "checkbox",
      "id": "show_contact",
      "default": true,
      "label": "Show contact details"
    },
    {
      "type": "text",
      "id": "bnts1",
      "default": "call us now:",
      "label": "Contact label"
    },
    {
      "type": "text",
      "id": "mobile",
      "label": "Add contact no",
      "default": "+12 567 2567 125"
    },
    {
      "type": "url",
      "id": "link_s",
      "label": "Link URL"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "secmenu",
      "default": "main-menu",
      "label": "Secondary menu",
      "info": "Secondary menu won't show when the 'Logo left, menu center' setting is enabled. This menu won't show dropdown items."
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label"
    },
    {
      "type": "header",
      "content": "Top bar"
    },
    {
      "type": "checkbox",
      "id": "show_topheader",
      "default": true,
      "label": "Show top bar"
    },
    {
      "type": "color",
      "id": "topbg_clr",
      "default": "#f5f5f5",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "topc_clr",
      "default": "#000000",
      "label": "Text color"
    },
    {
      "type": "text",
      "id": "topoffer",
      "label": "Text",
      "default": "Get 30% Off On Selected Items"
    },
    {
      "type": "text",
      "id": "topemail",
      "label": "Email",
      "default": "support@draly.com"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },

    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 18
    }
  ],
  "blocks": [
    {
      "type": "megamenu-product",
      "name": "Mega menu products",
      "settings": [
        {
          "type": "text",
          "id": "menuname",
          "label": "Menu label",
          "info": "Enter menu item to apply a mega menu."
        },
        {
          "type": "checkbox",
          "id": "showsubmenu",
          "label": "Show submenu",
          "info": "To add submenu [Click here](\/admin\/menus)"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 2,
          "max": 6,
          "step": 1,
          "default": 6,
          "label": "t:sections.featured-collection.settings.products_to_show.label",
          "info": "This option work only on desktop view"
        }
      ]
    },
    {
      "type": "megamenu-gallery",
      "name": "Mega menu submenu/gallery",
      "settings": [
        {
          "type": "text",
          "id": "menuname",
          "label": "Menu label",
          "info": "Enter menu item to apply a mega menu."
        },
        {
          "type": "checkbox",
          "id": "showsubmenu",
          "label": "Show submenu",
          "default": true,
          "info": "To add submenu [Click here](\/admin\/menus)"
        },
        {
          "type": "header",
          "content": "Image section"
        },
        {
          "type": "image_picker",
          "id": "vt1_img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "vt1_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "vt1_text",
          "label": "Label"
        },
        {
          "type": "header",
          "content": "Image section"
        },
        {
          "type": "image_picker",
          "id": "vt2_img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "vt2_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "vt2_text",
          "label": "Label"
        },
        {
          "type": "header",
          "content": "Image section"
        },
        {
          "type": "image_picker",
          "id": "vt3_img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "vt3_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "vt3_text",
          "label": "Label"
        },
        {
          "type": "header",
          "content": "Image section"
        },
        {
          "type": "image_picker",
          "id": "vt4_img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "vt4_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "vt4_text",
          "label": "Label"
        }
      ]
    },

    {
      "type": "megamenu-blog",
      "name": "Mega menu blog",
      "settings": [
        {
          "type": "text",
          "id": "menuname",
          "label": "Menu label",
          "info": "Enter menu item to apply a mega menu."
        },
        {
          "type": "checkbox",
          "id": "showsubmenu",
          "label": "Show submenu",
          "default": false,
          "info": "To add submenu [Click here](\/admin\/menus)"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Choose blog",
          "info": "To add blog [Click here](\/admin\/articles)"
        },
        {
          "type": "range",
          "id": "blog_to_show",
          "min": 2,
          "max": 4,
          "step": 1,
          "default": 4,
          "label": "Maximum blog to show",
          "info": "This option work only on desktop view"
        }
      ]
    }
  ]
}
{% endschema %}
