{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}
<div class="logo-brand section-{{ section.id }}-padding">
  <div class="container">
    <h2 class="heading">
      <span>{{ section.settings.title }}</span>
    </h2>
    <swiper-slider
      class="swiper-slider"
      data-section-id="{{ section.id }}"
      data-slider-speed="300"
      data-slider-navigation="true"
      data-slider-pagination="true"
      data-slider-autoplay="0"
      data-slider-rows="{{section.settings.rows}}"
      data-breakpoint-mobile-portrait="2"
      data-breakpoint-mobile-landscape="2"
      data-breakpoint-tablet-portrait="2"
      data-breakpoint-tablet-landscape="3"
      data-breakpoint-laptop="4"
      data-breakpoint-widescreen="4"
    >
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              {% if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" title="{{ 'vtcustomlabel.vtalltext.banner' | t }}">
              {%- endif %}
              {% if block.settings.image != blank %}
                <img
                  loading="lazy"
                  src="{{ block.settings.image | image_url: width: 225, height: 150 }}"
                  class="logo-bar__image mx-auto lazyload"
                  alt="{{ block.settings.image.alt }}"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                >
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              {% if block.settings.link != blank %}</a>{% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-controls">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </swiper-slider>
  </div>
</div>
{% schema %}
{
  "name": "Logo brand",
  "class": "spaced-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo brand",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
