<div class="container">
  <div class="password-header">
    <div class="password-logo">
      <h1 class="h4">{{ shop.name }}</h1>
      {%- if shop.password_message != blank -%}
        <div class="password-content">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
    </div>
    <div class="header-block draly-dropdown">
      <a class="block-link" data-draly="draly-dropdown">
        {% render 'icon-padlock' %}
        {{ 'general.password_page.login_password_button' | t }}
      </a>
      <div class="sub-menu">
        <h2 class="h6">
          {{ 'general.password_page.login_form_heading' | t }}
        </h2>
        {%- form 'storefront_password', class: 'password-form' -%}
          <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
            <input
              type="password"
              name="password"
              id="Password"
              class="field__input"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            >
            <label class="field__label visually-hidden" for="{{ 'general.password_page.login_form_password_label' | t }}">
              {{- 'general.password_page.login_form_password_placeholder' | t -}}
            </label>
          </div>
          {% comment %} {%- if form.errors -%} {% endcomment %}
            <div id="PasswordLoginForm-password-error" role="status">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' %}
                {{ 'general.password_page.login_form_error' | t -}}
              </span>
            </div>
          {% comment %} {%- endif -%} {% endcomment %}
          <button name="commit" class="password-button button button--primary">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {%- endform -%}
        <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
      </div>
    </div>
  </div>
</div>
